@import 'display.css';
@import 'control.css';

.calc {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 17px;
    overflow: hidden;
    width: 320px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: linear-gradient(to bottom right, rgb(100, 214, 248), rgb(44, 109, 243));
}

.calc__title {
    font-size: 14px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}